:root {
  --verde: #2ecc71;
  --verde-oscuro: #005239;
  --azul-oscuro: #22322d;
  --blanco: #ffffff;
  --gris: #f0f0f0;
  --rojo: #e74c3c;
  --amarillo: #f1c40f;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #000;
  margin: 0;
  color: var(--blanco);
}

#top {
  background-color:#a9ecc7;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 90px;
  border-bottom: 4px solid #000;
  position: relative;
  border-radius: 5px;
}
#logoA {
  position: absolute;
  left: 25px;
  top: 15px;
}
h1 {
  color: var(--verde-oscuro);
  font-size: 50px;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.controls {
  flex: 1;
  min-width: 250px;
  max-width: 300px;
  background: var(--azul-oscuro);
  padding: 20px;
  border-radius: 12px;
  
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}
.controls h2, .controls h3 {
  color: var(--blanco);
}
.controls p {
  color: #a8f0ce;
}
.bloquesControl {
  margin: 20px 0;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}
.imgAct {
  width: 55px;
  margin-bottom: 5px;
}
.modo-actual {
  margin-top: 15px;
  color: #fff;
  font-style: oblique;
}

button {
  margin: 5px;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.25s ease;
}
.btn-green { background: var(--verde); color: #fff; }
.btn-green:hover { background: #27ae60; }
.btn-yellow { background: var(--amarillo); color: #000; }
.btn-yellow:hover { background: #d4ac0d; }
.btn-red { background: var(--rojo); color: #fff; }
.btn-red:hover { background: #c0392b; }


button.active {
  border: 2px solid #2ecc71;
  background-color: #a3f0c4;
}

#btnManual.active {
  border: 2px solid #ccc12e;
  background-color: #f0eca3;
}

.btn-red.active{
  border: 2px solid #cc2e2e;
  background-color: #f0a3a3;
}









.contenido {
  flex: 3;
  background: var(--azul-oscuro);
  border-radius: 12px;
  padding: 20px;
  color: var(--blanco);
}
#descripcion {
  background: rgba(0, 0, 0, 0.4);
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.textdesc {
  margin: 0 0 10px;
}
#monitoreo {
  text-align: center;
  margin: 20px 0;
}

.sensor-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.sensor-card {
  background: rgb(224, 254, 255);
  border-radius: 12px;
  padding: 20px;
  color: #333;
  text-align: center;
  box-shadow: 0 2px 8px rgba(67, 64, 64, 0.3);
  transition: transform 0.2s;
}
.sensor-card:hover {
  /*transform: translateY(-5px);*/
  transform: scale(1.03);
  box-shadow: 0 4px 16px rgba(0, 255, 127, 0.3);  
}
.label {
  font-size: 18px;
  color: var(--verde-oscuro);
  font-weight: bold;
}
.value {
  font-size: 28px;
  color: var(--verde-oscuro);
  margin-bottom: 10px;
}
canvas {
  width: 100% !important;
  height: 300px !important;
}
